.layout {
  padding: 0;
}
.page-home {
  min-height: calc(100vh - 80px);
  width: 100%;
  color: var(--color);
}
.md-container {
  height: calc(100vh - 80px);
  width: 65vw;
  overflow: auto;
  white-space: wrap;
  box-sizing: border-box;
  scrollbar-color: var(--background-color);
}
.button-upload {
  width: 100%;
  height: 100px;
}
