.calendar-container {
  display: inline-block;
  width: calc(100vw - 100px);
  height: 80vh;
  box-sizing: border-box;
}
.calendar {
  margin: auto;
  width: calc(100vw - 100px);
  height: 80vh;
}
.fc {
  /* the calendar root */
  flex-grow: 1;
  height: 72vh;
  margin: 0 auto;
}
.event-modal-add {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}
.text-event {
  padding: 4px;
  background-color: var(--background-color);
  color: var(--color);
  box-sizing: border-box;
  border: 1px solid var(--color);
}
